
<header>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="right brand-logo">
        <img class="responsive-img" src="assets/images/logo.png" alt="Logo" />
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Login</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Login</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="left sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
    </div>
  </nav>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Automobile Service Center</h1>
        <div class="row center">
          <h5 class="header col s12 light white-text">Where Quality meets Safety</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="downloadbutton"
             class="btn-large waves-effect waves-light teal lighten-1">
            Get Started
          </a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax">
      <img src="assets/images/background-car1.jpg" alt="Unsplashed background img 1">
    </div>
  </div>
</header>
<main>
  <div class="row margin-bottom-0px">
    <div class="col s12 padding-0px">
      <div class="container">
        <div class="section">
          <!-- Icon Section -->
          <div class="row">
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                <h5 class="center">Who we are</h5>
                <p class="light">
                  We believe in providing seamless and high-quality services
                  to our customers. Our customer-first approach will offer a unique
                  personalized experience that will bring more value to your car through a
                  smarter and quicker process. We are committed to great quality.
                </p>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                <h5 class="center">Our Competency</h5>
                <p class="light">
                  By utilizing the elements and principles of modern
                  mechanical engineering, we are able to resolve complex technical challenges
                  through innovative solutions. Additionally, our service engineers are
                  highly qualified, with advanced training in automobile engineering.
                </p>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                <h5 class="center">Easy to work with</h5>
                <p class="light">
                  We provide detailed information and predictive analysis
                  to help our customers understand their cars. We maintain continuous
                  communication and are always open to feedback. We are always avaiable
                  to answer our customers' inquiries.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
          <div class="container">
            <div class="row center">
              <h5 class="header col s12 light white-text">
                Commited to delivering unprecendented
                quality to our customers
              </h5>
            </div>
          </div>
        </div>
        <div class="parallax">
          <img src="assets/images/background-car2.jpg" alt="Unsplashed background img 2">
        </div>
      </div>

      <div class="container">
        <div class="section">
          <div class="row">
            <div class="col s12 center">
              <h3><i class="mdi-content-send brown-text"></i></h3>
              <h4>Customer Value</h4>
              <p class="left-align light">
                Automobile Service Center has always been a
                value-driven company. Many of our values are based on years of research and
                commitment. Our values reflect the manner in which we run our business.
                We're proud of our professional ethics in dealing with our business
                partners, investors, employees, and customers. We provide customer-valued
                services built on our commitment to responsibility, sustainability,
                trust, openness, diversity, reliability, determination, credibility, and
                initiation. Our dedication in providing quality services is based on our
                great engineering-compliance model and industry-standard inspection and
                quality-control procedures.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
          <div class="container">
            <div class="row center">
              <h5 class="header col s12 light white-text">
                Humility, Empathy, Hard Work, and Technology
                are our core drivers.
              </h5>
            </div>
          </div>
        </div>
        <div class="parallax">
          <img src="assets/images/background-car3.jpg" alt="Unsplashed background img 3">
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About Us</h5>
        <p class="grey-text text-lighten-4">
          Automobile Service Center is certified to perform car services. Our
          workshop operations started in October 2010.
          We primarily focus on providing better services to our customers, and as
          a result of the hard work, we were awarded "Best Service" for 2008.
        </p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Additional Services</h5>
        <ul>
          <li><a class="white-text" href="#!">Services</a></li>
          <li><a class="white-text" href="#!">Finance</a></li>
          <li><a class="white-text" href="#!">Used Cars</a></li>
          <li><a class="white-text" href="#!">Insurance</a></li>
          <li><a class="white-text" href="#!">Driving School</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Facebook</a></li>
          <li><a class="white-text" href="#!">LinkedIn</a></li>
          <li><a class="white-text" href="#!">Twitter</a></li>
          <li><a class="white-text" href="#!">Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Powered by <a class="brown-text text-lighten-3" href="http://materializecss.com">
        Materialize
      </a>
    </div>
  </div>
</footer>

